* {
	text-align: center;
	font-size: 50px;
}

body {
	background-color: #baeaff;
	margin: 0;
	padding: 0;
}

a {
  text-decoration: none;
}

.entree {
	color: #000;
	border-radius: 25px;
	display: inline-block;
	border: 3px solid black;
	margin: 1em;
	padding: 0.5em 0;
	background-color: #ff5;
	box-shadow: 5px 10px;
}

.entree:hover {
	background-color: #fe4;
	box-shadow: 4px 8px;
}

.petite {
	width: 25%;
}

.grande {
	width: 50%;
}

.logo {
	height: 100%;
}

.bande {
	height: 3em;
	width: 100%;
	background-color: #01445f;
}